@import "tailwindcss";
body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn input[type="button"] {
  background-color: rgb(57, 57, 57);
  border-radius: 25px;
  padding: 5px;
  font-weight: bold;
  font-size: 30px;
}
.btn input[type="button"]:hover{
  background-color: rgb(88, 88, 88);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  transition: box-shadow 0.5s ease;
}